<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список каналов</title>
    <style>
        .channel-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .channel-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Список каналов</h1>
    <ul>
        {% for channel in channels %}
        <li class="channel-item">
            {% if channel.channel_image %}
            <img src="{{ url_for('media', filename=channel.channel_image) }}" alt="Channel Image" class="channel-image">
            {% else %}
            <img src="{{ url_for('static', filename='default_channel_image.png') }}" alt="Default Channel Image" class="channel-image">
            {% endif %}
            <a href="{{ url_for('view_channel', channel_id=channel.channel_id) }}">{{ channel.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_channel') }}">Создать новый канал</a>
</body>
</html>