<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чаты</title>
    <style>
        .chat-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .chat-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Ваши чаты</h1>
    <ul>
        {% for chat in chats %}
            {% if user in chat.participants %}
            <li class="chat-item">
                {% if chat.chat_image %}
                <img src="{{ url_for('media', filename=chat.chat_image) }}" alt="Chat Image" class="chat-image">
                {% else %}
                <img src="{{ url_for('static', filename='default_chat_image.png') }}" alt="Default Chat Image" class="chat-image">
                {% endif %}
                <a href="{{ url_for('view_chat', chat_id=chat['chat_id']) }}">{{ chat['name'] }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>